<html>
    <head>
        <title>[% page.title || "Your default title goes here" %]</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
        [% IF c.user_exists %]
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="[% c.uri_for('/users/list') %]">Users</a></li>
          <li role="presentation"><a href="[% c.uri_for('/posts/list') %]">Posts</a></li>
          <li role="presentation"><a href="[% c.uri_for('/logout') %]">Sign out</a></li>
        </ul>
        [% END %]

    </head>
    <body>
<h1>[% page.title %]</h1>
[% content %]
    </body>
</html>